.marketing_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    justify-content: space-between;
    margin-bottom: 70px;
   
    & .marketing_block_left{
        background: url(../img/marketing_1.jpg) no-repeat;
        background-position: center;
        background-size: 100%;
        text-align: right;
  
        border-radius: 5px;
        box-shadow: 4px 4px 4px #927f78;
        & .marketing_title{
            padding: 50px;
            transition: all 1s;
            & h2{
                color:#ffffff;
                font-weight: 800;
                font-size: 24px;
            }
            & h4{
                color: #ffffff;
                // font-size: 14px;
                font-style: italic;
            }
        }
    }
    & .marketing_block_left:hover{
        box-shadow: 8px 8px 16px #927f78;
        
        cursor: pointer;
         
        & .marketing_title{
            background: rgba(0,0,0,0.5);
            border-radius: 8px;
            transition: all 1s;
        
        }
    }
    & .marketing_block_right{
        background: url(../img/marketing_1.jpg) no-repeat;
        background-position: center;
        background-size: 100%;
        text-align: left;
    
        border-radius: 5px;
        box-shadow: 4px 4px 4px #927f78;
        
        & .marketing_title{
            padding:50px;
            transition: all 1s;
            & h2{
                
                color:#ffffff;
                font-weight: 800;
                font-size: 24px;
            }
            & h4{
                color: #ffffff;
                // font-size: 12px;
                font-style: italic;
            }
        }
    }
    & .marketing_block_right:hover{
        box-shadow: 8px 8px 16px #927f78;
  
        
        cursor: pointer;
         
        & .marketing_title{
            background: rgba(0,0,0,0.5);
            border-radius: 8px;
        }
    }
}
.linear{
    margin-bottom: 100px;
    & .linear_block{
        border-bottom-color: #e9e7e2;
        border-bottom-style: dashed;
    }
}